.places__paragraph{
    max-width: 484px;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Inter-Regular', Arial, sans-serif;
    color: #FFFFFF;
    text-align: left;
    margin: 0 0 25px 0;
    padding: 0;
}

.places__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .places__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
}