.page {
  max-width: 1280px;
  min-width: 288px;
  margin: 0 auto;
  padding: 0;
  background-color: #2A2C2F;
  font-family: 'sans-serif', 'Helvetica Neue', 'Arial';
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}