.lead{
    max-width: 984px;
    min-width: 320px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 58px 148px 0;
}

@media screen and (max-width: 1024px){
    .lead{
        margin: 50px 48px 0;
    }
}

@media screen and (max-width: 768px){
    .lead{
        margin: 50px 0 0;
    }
}