.cover__subtitle{
    max-width: 320px;
    min-width: 288px;
    min-height: 283px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter-Regular', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    align-self: center;
    margin: 32px auto 0;
    padding: 0;
}

@media screen and (max-width: 320px){
    .cover__subtitle{
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 0;
    }
}