.footer__link{
    font-family: 'Inter-Regular';
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 18px;
    opacity: 1;
    transition: 0.3s;
}

.footer__link:hover{
    opacity: 0.8;
}