.lead__title{
    font-family: 'Inter-black';
    max-width: 720px;
    min-width: 288px;
    max-height: 200px;
    min-height: 88px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
}