.lead__title{
    max-width: 720px;
    min-width: 288px;
    font-size: 96px;
    line-height: 100px;
    font-family: 'Inter-black', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

@media screen and (max-width: 680px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto;
    }
}