.cover{
    max-width: 1184px;
    min-width: 320px;
    display: flex;
    background-image: url(../../images/cover-route-66.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 48px;
}

@media screen and (max-width: 1280px){
    .cover{
        margin: 0 48px;
    }
}

@media screen and (max-width: 1024px){
    .cover{
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .cover{
        margin: 0;
    }
}

@media screen and (max-width: 320px){
    .cover{
        margin: 0;
    }
}