.places__place{
    max-width: 984px;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2);
    justify-content: center;
    /* grid-template-areas:
    "header website"
    "image paragraph"; */
}