.cover__title{
    max-width: 656px;
    min-width: 288px;
    font-size: 72px;
    line-height: 76px;
    font-family: 'Inter-Black', Arial, sans-serif;
    text-align: center;
    color: #FFFDFD;
    z-index: 1;
    margin: 0 auto;
}

@media screen and (max-width: 520px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}