.places__url-heading{
    font-family: 'Inter-Medium', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0 0 4px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .places__url-heading{
        margin: 0 0 12px;
    }
}