.page__wrapper{
    max-width: 1280px;
    min-width: 288px;
    margin: 0;
    column-gap: 100px;
}

@media screen and (max-width: 1280px){
    .page__wrapper{
        max-width: 1280px;
        margin: 0;
        grid-gap: 100px;
    }
}

@media screen and (max-width: 1024px){
    .page__wrapper{
        max-width: 1024px;
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .page__wrapper{
        max-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width: 320px){
    .page__wrapper{
        max-width: 320px;
        margin: 0;
    }
}

/* @media screen and (max-width: 1280px){
    
}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 320px){
    
} */