.page__wrapper{
    max-width: 1280px;
    min-width: 296px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px){
    .page__wrapper{
        margin: 0 48px;
    }
    .cover{
        width: 100%;
        height: 740px;
    }
}

@media screen and (max-width: 1024px){
    .page__wrapper{
        margin: 0 48px;
    }
    .cover{
        width: 100%;
        height: 640px;
    }
}

@media screen and (max-width: 768px){
    .page__wrapper{
        margin: 0 24px;
    }
    .cover{
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 350px){
    .page__wrapper{
        margin: 0;
    }
    .cover{
        width: 100%;
        height: 200px;
    }
}