.intro__title{
    font-size: 54px;
    line-height: 58px;
    font-family: 'Inter-Black', Arial, sans-serif;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 600px){
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
}